@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin : 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
  justify-content: space-between;
}

.navbar h1 {
  color: #F1356D;
}

.navbar .explore-link {
  color: #F1356D
}
.navbar .form-group {
  display: flex;
  gap: 10px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #F1356D;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.tag-group {
  display: flex;
  gap: 10px;
}

.author-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #FAFAFA;
  transition: box-shadow 0.3s;
}

.blog-preview:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.blog-details h2 {
  font-size: 20px;
  color: #F1356D;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #F1356D;
  color: #FFF;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #F1356D;
  margin-bottom: 30px;
}

.create .styled-input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #F1356D;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
}


.interest-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
}

.interest-chip {
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }
}